.header-div {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    float: right;
    margin-right: 80px;
    background-color: white;
}

.logo-div {
    position: absolute;
}

.logo-div > a > img {
    width: 15vw;
    height: 15vw;
}

.exampleDemo {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.installationDiv {
    background-color: lightgray;
    margin: auto;
    width: 300px;
    max-width: 100vw;
}

.exampleWrapperDiv {
    border: 8px solid;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.settingsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsItem {
    max-width: 90vw;
    margin-top: 10px;
    width: 600px;
    display: flex;
}

.settingsItem > label {
    width: 70%;
    height: 30px;
    float: left;
}

.settingsItem > input {
    height: 30px;
    float: right;
}

.settingsItem > input[type='text'] {
    width: 65%;
}

.settingsItem > input[type='checkbox'] {
    width: 65%;
}

.settingsItem > input[type='color'] {
    width: 65%;
}

.settingsItem > input[type='number'] {
    width: 25%;
}

.settingsItem > input[type='range'] {
    width: 40%;
}

.currentJsxDiv {
    margin-top: 50px;
    max-width: 500px;
    margin: auto;
}

.currentJsxDiv span {
    background-color: lightgrey;
    margin-left: 10px;
    white-space: pre;
    text-align: left;
    float: left;
}

.codesandboxDiv {
    margin-top: 20px;
}

.apiDiv {
    margin-bottom: 50px;
}

.apiTable {
    width: 90%;
}

.apiTable,
.apiTable th,
.apiTable td {
    margin: auto;
    border: 1px solid black;
    text-align: left;
}

.obssTriangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    border-width: 0 75px 75px 0;
    border-color: transparent #1975d2 transparent transparent;
}

.obssTriangle:hover {
    border-color: transparent #1565c0 transparent transparent;
}

.triangleIcon {
    position: fixed;
    top: 0;
    right: 5px;
    transform: rotate(45deg);
    writing-mode: vertical-lr;
}
